* {
    margin: 0 auto;
    padding: 0;
  }
  .footer {
    background-color: #e0e0e0;
    max-width: 1600px;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  /* Стилизация logo */
  
  .footer-child1 {
    display: flex;
    flex-direction: row;
  }
  .container-logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-footer {
    padding-right: 11px;
    width: 26px;
    height: 32px;
  }
  .footer-child1-text {
    width: 93px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
  }
  
  /* Стилизация  центральной надписи со значком авторских прав */
  
  .footer-child2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .author_rules {
    font-style: normal;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    padding-right: 9px;
  }
  
  /* Стилизация конпки обратной связи */
  
  .button-footer {
    height: 37px;
    width: 131px;
    font-size: 11px;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0;
    border-radius: 20px;
    color: white;
    background-color: #000000;
  }
  .callback-img {
    padding-right: 8px;
    width: 25px;
    height: 25px;
    margin: 0;
  }
  .button-text {
    margin: 0;
    opacity: 0.8;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.3px;
    transition: 400ms;
  }
  
  .button-text:hover {
    opacity: 1;
  }
  
  /* Ссылка на политику конфиденциальности */
  
  .konfident {
    width: 156px;
    color: black;
    font-family: "Inter";
    font-style: normal;
    font-size: 10px;
    opacity: 0.4;
    transition: 400ms;
  }
  .konfident:hover {
    opacity: 1;
  }
  
  /* Адаптив под планшет 1024px */
  
  @media (max-width: 1024px) {
    .up-section-footer {
      display: flex;
      justify-content: space-between;
    }
    .footer-child1 {
      margin-left: 21px;
    }
    .footer-child3 {
      margin-right: 20px;
    }
  }
  /* Адаптив под телефон 375px */
  
  @media (max-width: 375px) {
    .up-section-footer {
      display: flex;
      justify-content: space-between;
    }
    .footer-child1-text {
      display: none;
    }
    .logo-footer {
      padding: 0;
    }
    .author_rules {
      padding: 0;
      font-style: normal;
      font-size: 14px;
    }
    .button-text {
      display: none;
    }
    .button-footer {
      width: 38px;
      height: 38px;
    }
    .callback-img {
      padding: 0;
    }
  }