@font-face {
	font-family: 'a_AvanteInt_Bold'; 
	src: url(.//fonts/a_AvanteInt_Bold.ttf); 
}

@font-face {
	font-family: 'a_AvanteInt_BoldItalic'; 
	src: url(./fonts/a_AvanteInt_BoldItalic.ttf); 
}

@font-face {
	font-family: 'a_AvanteInt_Book'; 
	src: url(./fonts/a_AvanteInt_Book.ttf); 
}

@font-face {
	font-family: 'a_AvanteInt_BookItalic'; 
	src: url(./fonts/a_AvanteInt_BookItalic.ttf); 
}

* {
    margin: 0 auto;
    padding: 0;
  }
  .main-header {
    max-width: 1600px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-header {
    display: inline-flex;
    width: 130.21px;
    height: 38px;
  }
  .href-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-picture {
    padding-right: 11px;
    width: 26px;
    height: 32px;
  }
  .logo-text {
    width: 93px;
    font-family: "a_AvanteInt_BookItalic";
    font-size: 16px;
    font-weight: 300;
  }
  .center-navigation {
    display: flex;
    justify-content: space-around;
  }
  .menu-navigation {
    width: 100%;
    list-style-type: none;
    display: flex;
  }
  .container-navigation-text {
    padding-left: 62px;
  }
  .container-navigation-text:first-child {
    padding-left: 0;
  }
  .header-text {
    color: black;
    text-decoration: none;
    font-family: 'a_AvanteInt_Book';
    font-style: normal;
    font-weight: 300;
font-size: 18px;
line-height: 22px;
  }
  .icon-navigation {
    list-style-type: none;
    display: flex;
  }
  .container-navigation-icon:last-child {
    display: none;
  }
  
  @media (max-width: 1024px) {
    .logo-header {
      margin: 0;
      margin-left: 24.45px;
    }
    .icon-navigation {
      margin: 0;
      margin-right: 24px;
    }
  }
  @media (max-width: 375px) {
    .logo-header {
      margin-left: 21px;
    }
    .center-navigation {
      display: none;
    }
    .container-navigation-icon:last-child {
      display: block;
    }
    .icon-navigation {
      margin: 0;
      margin-right: 19.64px;
    }
  }
  

/* Тело 404-начало */

.page_404{
    background-color: #F3F6ED;
}
.container_404{
    text-align: center;
    padding-top: 170px;
}

.txt_1404, .txt_2404, .txt_3404{
    font-family: 'a_AvanteInt_Book';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 145%;
color: #1F271B;
order: 0;
flex-grow: 0;
}

.num_404{
height: 44px;
font-family: 'a_AvanteInt_Bold';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #1F271B;
padding-bottom: 45px;
padding-top: 45px;
text-align: center;
}

.txt_2404{
  padding-bottom: 24px;
}

.txt_3404{
    padding-bottom: 63px;
}

.link_catalog{
    color: #F19953;
}

.line_left{
  padding-right: 20px;
  padding-bottom: 5px;
}

.line_right{
  padding-left: 20px;
  padding-bottom: 5px;
}

/* Тело 404-конец */

.footer {
    background: #1F271B;
    border-top: 1.5px solid #373E34;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px
}

.footer_logo,
.footer_message {
    display: flex;
    align-items: center;
}

.logo-img {
    max-width: 26px;
    height: 32px;
    padding-right: 10px;
}

.logo-title {
    font-family: "a_AvanteInt_BookItalic";
    font-size: 16px;
    font-weight: 300;
    color: #fcfcfc;
    width: 93px;
    
}

.footer_copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.copyright-org {
    font-family: 'a_AvanteInt_Book';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F7FBFB;
    max-width: 168px;

}

.copyright-link {
  font-family: 'a_AvanteInt_Book';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-decoration-line: underline;
    max-width: 170px;
    color: #F7FBFB;
    padding-top: 10px;
}

.footer_message {
    background: #F3F6ED;
    border-radius: 8px;
    width: 193px;
    height: 49px;
    justify-content: center;
}

.message-img {

    padding-right: 5px;
}

.message-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    max-width: 119px;
    font-family: 'a_AvanteInt_Book';
    order: 1;
flex-grow: 0;
}

/*---медиа запросы для Планшет----*/

@media (max-width: 1024px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_message {
        border-radius: 20px;
    }
}

/*---медиа запросы для mobile----*/

@media (max-width:667px) {
    .footer_message {
        max-width: 38px;
        height: 38px;
        border-radius: 50%;
    }

    .logo-title {
        visibility: hidden;
        width: 0;
    }


    .message-text {
        visibility: hidden;
        width: 0;
    }
}
