.page_404{
    background-color: #F3F6ED;
}
.container_404{
    text-align: center;
    padding-top: 170px;
}

.txt_1404, .txt_2404, .txt_3404{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #1F271B;
order: 0;
flex-grow: 0;
}

.num_404{
height: 44px;
font-family: 'Inter';
font-style: normal;
font-weight: 1000;
font-size: 40px;
line-height: 44px;
color: #1F271B;
padding-bottom: 45px;
padding-top: 45px;
text-align: center;
}

.txt_3404{
    padding-bottom: 63px;
}

.link_catalog{
    color: #1F271B;
}